@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* css for header component */
body{
  background-color: #f5f5f5;
}
.Header .icon{
  font-size: larger;
  cursor: pointer;
}
/* hero section */

/* navbar */
.nav-bar svg{
  display: none;
}
@media (max-width:1024) {
  .nav-bar{
    position: absolute;
    width: 70%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-bar ul{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items:start;
  }
.close{
  transform: translateX(-100%);
}
.open{
  transform: translateX(0%);
}
.nav-bar svg{
  display: block;
}
}
/* category */
.scroll-bar-category{
  scrollbar-width: none;
}
.scroll-bar-category .item{
  cursor: pointer;
}