@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* css for header component */
body{
  background-color: #f5f5f5;
}
.Header .icon{
  font-size: larger;
  cursor: pointer;
}

/* hero section */
.hero{
  background-image:linear-gradient(rgba(0, 0, 0, 0.116),rgba(66, 58, 58, 0.568)) , url("/freepik__the-style-is-candid-image-photography-with-natural__92007.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* navbar */

@media (max-width:1024px) {
  .nav-bar{
    position: absolute;
    width: 70%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-bar .ul1{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items:start;
  }
.close{
  transform: translateX(-100%);
}
.open{
  transform: translateX(0%);
}

}
/* category */
.scroll-bar-category{
  scrollbar-width: none;
}
.scroll-bar-category .item{
  cursor: pointer;
}

