@import "tailwindcss";

:root {
  --orange-color: #e9c80d;
  --orange-shade : #b99f06;
  --selected-link   : black;
}

/* css for header component */
body{
  background-color: #f5f5f5;
}
.Header .icon{
  font-size: larger;
  cursor: pointer;
}
.img-card{
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.219);
}
/* hero section */
.hero{
  background-image:linear-gradient(rgba(0, 0, 0, 0.288),rgba(66, 58, 58, 0.733)) , url("/freepik__the-style-is-candid-image-photography-with-natural__92007.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* navbar */
.main-ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}
.main-ul li{
    padding: 10px 20px;
    position: relative;
    cursor: pointer;
    font-size: larger;
}
.group-2 h3, .group-1 h3, .group-3 h3{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: large;
    transition: .5s;
}
.group-2 h3:hover, .group-1 h3:hover, .group-3 h3:hover, .group-4 p:hover{
        transform: scale(1.1);

}
.group-2  p, .group-1  p, .group-3 p {
    padding-bottom: 5px;
}
.group-2  p:hover, .group-1  p:hover, .group-3 p:hover ,.group-4 p:hover{
    color: black;
    transition: .5s;
    font-weight: bold;
}
.group-4 p{
    font-weight: bold;
    margin-bottom: 10px;
}

@media (max-width:1280px) {
  .nav-bar{
    position: absolute;
    width: 70%;
    min-height: 100vh;
    height: fit-content;
    top: 0;
    left: 0;
   
  }
  .main-ul{
    display: flex;
    flex-direction: column;
    gap: 1;
  }
  .main-ul li{
    width: 100%;
    padding: 10px 0;
    font-size: large;
  }
  .f-drop, .s-drop, .t-drop{
    position: relative;
    padding: 10px;
    margin-top: 10px;
        /* background-color: #000; */
        left: 0;
       

  }
  .f-drop li, .s-drop li, .t-drop li{
    display: block;
    min-width: 100%;  
    font-size: smaller; 
    padding-top: 0;
}
.close{
  transform: translateX(-100%);
}
.open{
  transform: translateX(0%);
}

}
/* category */
.scroll-bar-category{
  scrollbar-width: none;
}
.scroll-bar-category .item{
  cursor: pointer;
}

/* locker */
.locker {
  background-image:linear-gradient(rgba(0, 0, 0, 0.808),rgba(41, 36, 36, 0.856)) , url("/freepik__the-style-is-candid-image-photography-with-natural__92007.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
 .graphics{
  background-image:linear-gradient(rgba(0, 0, 0, 0.61),rgba(41, 36, 36, 0.664)) , url("/freepik__the-style-is-candid-image-photography-with-natural__92007.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* footer */
.footer_section {
    margin-top: 100px;
    background-color: white;
    /* background: linear-gradient(#e9ae0d,orange) !important; */
}

.logo_one {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    color: #262626;
}

.HOme_stack,
.AboutStack {
    margin-right: 50px;
    cursor: pointer;
}

.HOme_stack,
.AboutStack p {
    color: #59595A;
}

.logo_one a {
    color: #262626;
}

.paths .please {
    background-color: #eeeef0;
    transition: .5s;
    font-size: larger;
    padding: 15px;
}

.paths .please:hover {
    background-color: orange;
    color: #181515;
    transform: translateY(5px);
}

@media screen and (max-width:990px) {

    .wrapper {
        flex-direction: column;
        padding: 0 !important;
        justify-content: center;
        padding: 50px 50px !important;
    }

    .link_section {
        flex-direction: column;
        width: 100%;
    }

    .HOme_stack {
        margin-top: 50px;
    }

    .AboutStack {
        text-align: end;
        width: fit-content;
        margin-top: 50px;
    }

    .footer_section {
        padding: 0 !important;
    }

    .HOme_stack,
    .AboutStack {
        margin-right: 0px;
        width: 50%;
    }

    .Profile_info_stack {
        margin-top: 50px;
        width: 100%;
    }
}
.tags img{
    cursor: pointer;
    width: 100px;
}
/* ------------ */
.achievements{
    margin-bottom: 100px;
}
.title .description p{
    font-size: 14px;
    color: #59595A;
}
.title .heading h1 , .Our_Goals .heading h1{
    font-weight: 600 !important;
    font-size: 3em;
}
.detail_in_cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
   
    gap: 30px;
}
.card{
    background: #ffffffff;
    border-radius: 12px;
    padding: 40px !important;
}
.card .caption p{
    color: #59595A;
}

/* -------Our Goal section ends-------- */
.joining_offer{
   position: relative;
   overflow: hidden;
   margin-bottom: 100px;
   border-radius: 12px;
   height: 320px;
   display: flex;
   align-items: center;
  justify-content: space-around;
}
.joining_offer  img{
   right: 15%;
   position: absolute;
   top: 0%;
   z-index: 0;
}
.joining_offer .content{
    width: 100%;
    z-index: 20;
    position: inherit;
    
}
.anchor {
    width: 200px !important;
}
.specific{
    color: var(--orange-color);
}
.fill_orange {
    background-color: var(--orange-color);
}

.color_Orange {
    color: var(--orange-color);
}

.btn2:hover {
    border: 1px solid var(--orange-color);
    color: black !important;
}
/* --------------------------- */
.box{
    border: 2px solid var(--orange-color);
    /* box-shadow: 0 0 10px 1px #e9ae0d; */
}
.selected-box{
    border: 4px solid var(--orange-color);
}
/* contact us */
.contact-heading {
    background-image: linear-gradient(#000000b9,#000000ab) , url("/contact.jpg");
    background-size: cover;
    background-position: bottom;
}
/* styles/globals.css or any imported CSS file */
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px); /* start slightly below */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* end at normal position */
  }
}

.fade-up {
  opacity: 0; /* start hidden */
  animation: fadeUp 0.6s ease-out forwards; /* play animation */
    animation-delay: 1s;
}

.fade-up-delay-1 {
  animation-delay: 0.1s;
}
.fade-up-delay-2 {
  animation-delay: 0.2s;
}
.fade-up-delay-3 {
  animation-delay: 0.3s;
}
.fade-up-delay-4 {
  animation-delay: 1s;
}
/* add more as needed */
.cartItem{
    box-shadow: 0 0 4px 2px #17171817;
}
.cartBorder{
    border: 1px solid #59595A;

}
.shadoww{
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.219);
}